Repository cmw2/ASPNETCoreEncryptedConfig: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-enctool.yml, azure-pipelines.yml

azure-pipelines-enctool.yml:

# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - src/EncryptorTool
    - azure-pipelines-enctool.yml

pool:
  vmImage: windows-latest

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet publish -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)
  displayName: 'dotnet publish'
  workingDirectory: src\EncryptorTool
  
# Publish a Universal Package
- task: UniversalPackages@0
  displayName: Universal Publish
  inputs:
    command: 'publish'
    publishDirectory: '$(Build.ArtifactStagingDirectory)'
    feedsToUsePublish: 'internal'
    vstsFeedPublish: 'DevOpsDemo/ASPNETCoreEncryptedConfigPackages'
    vstsFeedPackagePublish: 'encryptor-tool'
    versionOption: 'patch'
    packagePublishDescription: 'Tool to encrypt values in App Settings files'

azure-pipelines.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - src/EncryptorTool

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'site'

exclude enctool yml from main ci
  azure-pipelines.yml
Due: azure-pipelines.yml

Add encryption to CD pipeline
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

switch cd pipeline to use main branch
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

switch to command line task
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

have encyrptor tool write result of encryption to web site appsettings
  src/EncryptorTool/Program.cs
  src/EncryptorTool/appsettings.json
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines-enctool.yml, azure-pipelines.yml

removing extra comma from web appsettings
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines.yml

remove key setting from cmd line
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

put empty EncryptedKeys array back in appsettings
  src/EncryptorTool/appsettings.json
Due: azure-pipelines-enctool.yml

add key to encrypt back in
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

put empty EncryptedKeys in web appsettings
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines.yml

add missing comma
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines.yml

switch to empty object instead of empty array
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines.yml

switch to empty object instead of empty array
  src/EncryptorTool/appsettings.json
Due: azure-pipelines-enctool.yml

add missing comma in enctool appsettings
  src/EncryptorTool/appsettings.json
Due: azure-pipelines-enctool.yml

add other secret keys to encryption
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

fix key index
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

Update README.md
  README.md
Due: azure-pipelines.yml

more complex secret values
  azure-pipelines-cd.yml
  src/WebAppThatNeedsSecrets/Pages/Index.cshtml
  src/WebAppThatNeedsSecrets/appsettings.json
Due: azure-pipelines.yml
